<div class="row">
    <div class="col-md-6">
        <div style="display: block;" *ngIf="lineChartData().length >0">
            <canvas baseChart width="1400" height="600"
                    [datasets]="lineChartData()"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"></canvas>
        </div>
    </div>
</div>