
<div class="title">Are you comfortable with?</div>
<div>
    <img src="../../../public/images/Python.png" class="images" *ngIf="isCandidateSkill('Python')"
         style="width:128px;height:128px;"/>
    <img src="../../../public/images/Java.png" class="images" *ngIf="isCandidateSkill('Java')"
         style="width:128px;height:128px;">
    <img src="../../../public/images/Ruby.png" class="images" *ngIf="isCandidateSkill('Ruby')"
         style="width:128px;height:128px;">
    <img src="../../../public/images/CSharp.png" class="images" *ngIf="isCandidateSkill('C#')"
         style="width:128px;height:128px;">
    <img src="../../../public/images/Selenium.png" class="images" *ngIf="isCandidateSkill('Selenium')"
         style="width:128px;height:128px;">
</div>