<img src="../../../public/images/Bulb.png"/>
<div class="title">Are you comfortable with?</div>
<div class="images">
    <img src="../../../public/images/Python.png" *ngIf="isCandidateSkill('Python')"/>
    <img src="../../../public/images/Java.png" *ngIf="isCandidateSkill('Java')"/>
    <img src="../../../public/images/Ruby.png" *ngIf="isCandidateSkill('Ruby')"/>
    <img src="../../../public/images/CSharp.png" *ngIf="isCandidateSkill('C#')"/>
    <img src="../../../public/images/Selenium.png" *ngIf="isCandidateSkill('Selenium')"/>
</div>