body {
    background: transparent;
    color: #000;
}
.circle {
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 400px;
    text-align: center;
    background: #2977f4;
}
.title {
    font-size: 70px;
    font-weight: 200;
    margin-bottom: 20px;
}

.panelists {
    font-size: 60px;
    line-height: 1.3em;
    text-align: center;
}
.images{
    padding: 2em;
    background-color: transparent;
}
.row{
    width: 600px;
    height: 600px;
}